<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <!-- Page Title -->
  <title>Sameer Khanal | Web developer</title>

  <!-- Page Meta -->
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="Sameer Khanal">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <!-- PLUGINS -->
  <link rel="stylesheet" href="assets/css/plugins/plugins.css">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="assets/css/plugins/fontawesome/all.min.css">
  <!-- BASIC PAGE STYLE -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- PAGE THEME STYLE -->
  <link rel="stylesheet" href="assets/css/themes/dark.css">

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

</head>
<body>

	{{content}}

	<!-- JQUERY -->
    <script src="assets/js/jquery.min.js"></script>
	<!-- MIXITUP JS -->
    <script src="assets/js/mixitup.min.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- WOW SCRIPT -->
    <script src="assets/js/wow.min.js"></script>
    <!-- WAYPOINTS SCRIPT -->
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <!-- TYPED JS -->
    <script src="assets/js/typed.min.js"></script>
    <!-- MAIN SCRIPT  -->
    <script src="assets/js/script.js"></script>

</body>
</html>